{% extends 'base.html'%}
{% block content %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

    <head>
        <title>{% trans "About C7 Motors - Your Trusted Partner in Quality Used Cars" %}</title>
        <meta name="description" content="{% trans 'Learn about C7 Motors, our mission, vision, and commitment to providing top-quality used cars. With years of experience, we strive to make car ownership accessible and enjoyable for everyone.' %}" />
        <meta name="keywords" content="{% trans 'about C7 Motors, used car dealership, reliable used cars, trusted car dealers' %}" />
        <link rel="stylesheet" href="{% static 'css/about.css'%}">
    </head>

    <body>

        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb bg-about">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">{% trans "About Us" %}</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="{% url 'c7_motors:home'%}">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'c7_motors:contact_us'%}">{% trans "contact us" %}</a></li>
                    <li class="breadcrumb-item active" style="color: #e30a23">{% trans "About" %}</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

        <!-- About Start -->
        <div class="container-fluid overflow-hidden about py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-xl-6">
                        <div class="about-item">
                            <div class="pb-5">
                                <h1 class="display-5 text-capitalize">{% trans "C7 Motors" %} <span style="color: #e30a23">{% trans "About" %}</span></h1>
                                <p class="mb-0" style="color: rgb(53, 53, 53)">
                                {% trans "“Experience the joy of owning a quality used car with C7 Motors. From family-friendly SUVs to stylish sedans, we provide vehicles that suit every lifestyle and budget”" %}
                                </p>
                            </div>
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="about-item-inner border p-4">
                                        <div class="about-icon mb-4">
                                            <img src="{% static 'img/bullseye.svg'%}" class="img-fluid h-50 w-50" alt="{% trans 'Icon' %}">
                                        </div>
                                        <h5 class="mb-3" style="color: #e30a23;">{% trans "Our Mision" %}</h5>
                                        <p class="mb-0" style="color: white;">
                                            {% trans "At C7 Motors, we aim to make owning a car simple and accessible for everyone. By offering a diverse selection of high-quality used vehicles with cash or installment payment options, we ensure your car-buying journey is stress-free and rewarding." %}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="about-item-inner border p-4">
                                        <div class="about-icon mb-4">
                                            <img src="{% static 'img/list-check.svg'%}" class="img-fluid w-50 h-50" alt="{% trans 'Icon' %}">
                                        </div>
                                        <h5 class="mb-3" style="color: #e30a23;">{% trans "Our Vision" %}</h5>
                                        <p class="mb-0" style="color: white;">
                                            {% trans "To be the trusted choice for used car sales, setting industry standards with our commitment to quality, transparency, and customer satisfaction." %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <p class="text-item my-4" style="color: rgb(53, 53, 53)">
                                {% trans "Customer Commitment" %}
                                <br>
                                {% trans "When you choose C7 Motors, you can expect:" %}
                                <br>
                                -{% trans "Reliable Quality: Every used car is carefully inspected and certified for performance and safety." %}
                                <br>
                                -{% trans "Flexible Payment Options: Whether you prefer to pay upfront in cash or spread the cost with installment payments, we've got you covered." %}
                                <br>
                                -{% trans "Pricing: No hidden fees—what you see is what you pay." %}
                                <br>
                                -{% trans "Dedicated Support: Our team is here to help at every stage, from selecting your car to finalizing payment." %}
                            </p>
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="text-center rounded p-4" style="background-color: #e30a23;">
                                        <h1 class="display-6 text-white">3</h1>
                                        <h5 class="text-light mb-0">{% trans "Years Of Experience" %}</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="rounded">
                                        <p class="mb-2" style="color: rgb(53, 53, 53)"><i class="fa fa-check-circle me-1" style="color: #e30a23;"></i> {% trans "Great Team" %}</p>
                                        <p class="mb-2" style="color: rgb(53, 53, 53)"><i class="fa fa-check-circle me-1" style="color: #e30a23;"></i> {% trans "Best Quality" %}</p>
                                        <p class="mb-2" style="color: rgb(53, 53, 53)"><i class="fa fa-check-circle me-1" style="color: #e30a23;"></i> {% trans "Fast Services" %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="about-img">
                            <div class="img-1">
                                <img src="{% static 'img/porsche1.webp'%}" class="img-fluid rounded h-70 w-70" alt="{% trans 'Red Porsche' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
    </body>

</html>

{% endblock %}