{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta %}
    <title>{% trans "Used Cars for Sale - Reliable & Affordable Cars | C7 Motors" %}</title>
    <meta name="description" content="{% blocktrans %}Browse our selection of high-quality used {{ car_type }} for sale. Find reliable, affordable, and well-maintained {{ car_type }} at the best prices. Check out our inventory today!{% endblocktrans %}" />
    <meta name="keywords" content="{% blocktrans %}used {{ car_type }} for sale, best SUV deals, pre-owned {{ car_type }}, buy an SUV online{% endblocktrans %}" />
    <link rel="stylesheet" href="{% static 'css/inventory.css'%}">
{% endblock %}
{% block content %}
    <!-- Cars Start -->
    <div class="container-fluid py-5">
        <div class="container" style="padding: 0%;">
            <div id="car_categories" class="categories">
                {% for car in cars %}
                <div class="categories-item p-4">
                    <div class="categories-item-inner">
                        <div class="categories-img rounded-top position-relative">
                            <!-- Car Image -->
                            <img src="{{ car.main_img.url }}" class="img-fluid w-100 rounded-top" alt="">
                            <!-- Sold Overlay Image -->
                            {% if car.selled %}
                            <div class="position-absolute" style="z-index: 1; left: 15px; top: 15px;">
                                <div class="p-2 rounded" style="background-color: #e30a23;">
                                    <h5 class="text-white mb-0">{% trans "Sold out" %}</h5>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="categories-content rounded-bottom p-4">
                            <h4 style="color: #e30a23;">{{ car.brand_name }} {{ car.model }}</h4>
                            <div class="mb-4">
                                <h5 class="bg-white text-dark rounded-pill py-2 px-4 mb-0">
                                    {{ car.cash_price }} AED
                                </h5>
                            </div>
                            <div class="row gy-2 gx-0 text-center mb-4">
                                <div class="col-5 border-end border-white">
                                    <i class="fa fa-car" style="color: #e30a23;"></i> 
                                    <span class="ms-1" style="color: white;">{{ car.model_year }}</span>
                                </div>
                                <div class="col-6">
                                    <i class="fa fa-road" style="color: #e30a23;"></i> 
                                    <span class="ms-1" style="color: white;">{{ car.mileage }} KM</span>
                                </div>
                            </div>

                            <!-- Button Logic -->
                            {% if car.selled %}
                            <button class="btn rounded-pill d-flex justify-content-center py-3 w-100" style="background-color: #e30a23; color:rgb(0,0,0); cursor: not-allowed;" disabled>{% trans "Sold Out" %}</button>
                            {% elif car.not_available %}
                            <button class="btn rounded-pill d-flex justify-content-center py-3 w-100" style="background-color: #e30a23; color:rgb(0,0,0); cursor: not-allowed;" disabled>{% trans "Not Available" %}</button>
                            {% else %}
                            <a href="{% url 'c7_motors:car_details' car_slug=car.slug %}" class="btn rounded-pill d-flex justify-content-center py-3" style="background-color: #e30a23; color:rgb(0,0,0)">{% trans "Show Details" %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Cars End -->

{% endblock %}
