/*** About Start ***/
.about .about-item .about-item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background: rgb(0,0,0);
    transition: 0.5s;
}

.about .about-item .about-item-inner .about-icon {
    width: 90px; 
    height: 90px; 
    border-radius: 67% 33% 29% 71% / 39% 46% 54% 61%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0,0,0);
    background: #e30a23;
    animation-name: icon-animat;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: 0.5s;
}

.col-xl-6.position-relative {
    position: relative;
    min-height: 550px;
}

.about-photo {
    width: 250px;
    height: 420px;
    border-radius: 16px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.about-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9) contrast(1.2);
}

@media (max-width: 1199px) {

    .col-xl-6.position-relative {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .about-photo {
        width: 80%;
        max-width: 320px;
        height: 250px;
        border-radius: 18px;
        overflow: hidden;
        position: relative !important;
        box-shadow: 0 8px 25px rgba(0,0,0,0.35);
        transition: 0.4s ease-in-out;
    }

    .about-photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 576px) {

    .about-photo {
        width: 90%;
        height: 220px;
    }
}

.about .about-item .text-item {
    position: relative;
    padding-left: 25px;
}

.about .about-item .text-item::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: #e30a23;
}

@media (max-width: 992px) {
    .about-photo {
        position: relative; 
        width: 70%;
        height: 350px;
        margin: 10px auto; 
    }
}
/*** About End ***/