.finance-card {
    background: #ffffff;
    border-radius: 22px;
    padding: 30px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    transition: 0.3s;
}
.finance-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.12);
}
.finance-img {
    max-width: 180px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}
@media (min-width: 992px) {
    .finance-card .text-block {
    max-width: 60%;
    }
    .finance-card .image-block {
    max-width: 40%;
    text-align: center;
    }
}
    
.finance-wrapper {
    max-width: 1100px;
}

.calc-label {
    font-size: 17px;
    font-weight: 600;
    color: #333;
}

.calc-input-box {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 8px 14px;
    background: #fff;
}
.calc-input-box span {
    color: #666;
    font-weight: 600;
    margin-right: 6px;
}
.calc-input-box input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    background: none;
}

.calc-slider {
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #ddd;
    margin-bottom: 10px;
}

.period-btn {
    border: 1px solid #ddd;
    padding: 10px 22px;
    border-radius: 12px;
    background: #fff;
    font-weight: 600;
    cursor: pointer;
}
.period-btn.active {
    background: #000;
    color: #fff;
    border-color: #000;
}

.summary-box {
    background: #f8f9fc;
    padding: 35px;
    border-radius: 25px;
    border: 1px solid #eee;
}
.summary-title {
    text-align: center;
    color: #777;
}
.summary-amount {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

@media (max-width: 768px) {
    .summary-box {
    margin-top: 20px;
    }
}

.faq-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
    width: 70%;
    height: 3px;
    background: linear-gradient(to right, #dc3545, #ff8d8d);
    border-radius: 10px;
}

.faq-accordion .accordion-button {
    padding: 1rem 1.3rem;
    border-radius: 14px !important;
    background: #fafafa;
    transition: all 0.25s ease;
}

.faq-accordion .accordion-button:not(.collapsed) {
    background-color: #fff0f0;
    color: #d43c3c;
    box-shadow: none;
}

.faq-accordion .accordion-button:hover {
    background-color: #fff5f5;
}

.accordion-item {
    border-radius: 18px !important;
}

.accordion-body {
    background: white;
    border-radius: 0 0 18px 18px;
    padding: 1rem 1.4rem;
}