/*** Cars Categories Start ***/
.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
}

.categories .categories-item {
    position: relative;
    border: 1px solid linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    border-radius: 10px;
    transition: 0.5s;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.categories .categories-item:hover {
    border: 1px solid #e30a23;
    transform: translateY(-5px);
}

.categories .categories-item .categories-item-inner {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
}

.categories .categories-item .categories-item-inner:hover {
    box-shadow: 0 0 50px #e30a23;
}

.categories .categories-item-inner .categories-img {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}

.categories .categories-item-inner .categories-content {
    border-top: 4px solid var(--bs-white);
    text-align: center;
    background: rgb(0,0,0);
    padding: 15px;
}

.categories .categories-item-inner .categories-review {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*** Cars Categories End ***/